html{
  scroll-behavior: smooth;
}
#navbar{
padding: .8rem;
}

#sticky{
/* position: fixed; */
  /* top: 0; */
  width: 100%;
}

#li{
padding-right: 20px;
}
#nav-link{
  font-size: 1.1em !important;
  color: black;
}

#navbarResponsive{
  margin-right: 30px;
}

.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #f36b21;
  transition: width .3s;
}

.nav-link:hover::after{
  width: 100%;
  transition: width .3s;
}

.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: #f36b21;
  transition: width .3s;
}

.nav-link:hover::after{
  width: 100%;
  transition: width .3s;
}
.logo{
  background-image: url('../images/logo.svg');
  background-size: cover;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 9.5vh;
  width: 18vw;
}

/* home page css part */
.home_container{
  background-image: url('../images/digital marketing landing page.svg');
  max-width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh
}

.home_h2{
  padding-top:28%;
  padding-left:38%;
  font-weight: bolder;
  color: #f36b21;
}

.home_h1{
  padding-top:0px;
  padding-left:10%;
  margin-left: 22%;
  font-size:70px;
  color: #4686c6;
}

.line{
  width:12%;
  height:1px;
  background-color:white;
}

.home_p1{
  font-size:20px;
  color:#000000;
  margin-left:5%;
  font-weight: bolder;
}

.home_p2{
  font-size:20px;
  color:#000000;
  margin-left:10%;
  font-weight: bolder;
}

.home_btn{
  margin-left:25%;
  margin-top:0;
}

/* service area css */
#padding1{
  padding-bottom: 0;
}

#padding2{
  margin-top: 5vh;
}

#welcome{
width: 75%;
margin: 0 auto;
padding-top: 0rem;
}


#hr1{
border-top: 2px solid #f36b21;
width: 15%;
margin-top: 0rem;
margin-bottom: 1rem;
}

.services{
  margin-top:2%
}

.first_services_row{
  height:35vh;
  margin-top: 5%;
}

.development_service{
  background-image:url('../images/card.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:50%;
  height: 37vh;
}

.graphics_service{
  background-image:url('../images/card2.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:50%;
  height: 100%;
}

.digital_service{
  background-image:url('../images/card3.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:50%;
  height: 100%;
}

.IT_support_service{
  margin-left: 33%;
  height:50vh;
  background-image:url('../images/card4.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size:50%;
  height: 100%;
}

.service_text{
  margin-top: 10vh;
}

.service_text .service_a{
  text-decoration: none;
  font-size:28px;
  color: #219bd9;
}

/* hover effects on the services */

.service_text img{
  transition: transform .5s ease;
}

.service_text:hover img{
  transform: scale(1.5);
}

/* footer */

footer {
  background: #16222A;
  background: -webkit-linear-gradient(59deg, #3A6073, #16222A);
  background: linear-gradient(59deg, #3A6073, #16222A);
  color: white;
  margin-top:100px;
}

footer a {
  color: #fff;
  font-size: 14px;
  transition-duration: 0.2s;
}

footer a:hover {
  color: #FA944B;
  text-decoration: none;
}

.copy {
  font-size: 12px;
  padding: 10px;
  border-top: 1px solid #FFFFFF;
}

.footer-middle {
  padding-top: 2em;
  color: white;
}


/*SOCİAL İCONS*/

/* footer social icons */

ul.social-network {
  list-style: none;
  display: inline;
  margin-left: 0 !important;
  padding: 0;
}

ul.social-network li {
  display: inline;
  margin: 0 5px;
}


/* footer social icons */

.social-network a.icoFacebook:hover {
  background-color: #3B5998;
}

.social-network a.icoLinkedin:hover {
  background-color: #007bb7;
}

.social-network a.icoFacebook:hover i,
.social-network a.icoLinkedin:hover i {
  color: #fff;
}

.social-network a.socialIcon:hover,
.socialHoverClass {
  color: #44BCDD;
}

.social-circle li a {
  display: inline-block;
  position: relative;
  margin: 0 auto 0 auto;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  text-align: center;
  width: 30px;
  height: 30px;
  font-size: 15px;
}

.social-circle li i {
  margin: 0;
  line-height: 30px;
  text-align: center;
}

.social-circle li a:hover i,
.triggeredHover {
  -moz-transform: rotate(360deg);
  -webkit-transform: rotate(360deg);
  -ms--transform: rotate(360deg);
  transform: rotate(360deg);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  -ms-transition: all 0.2s;
  transition: all 0.2s;
}

.social-circle i {
  color: #595959;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  -ms-transition: all 0.8s;
  transition: all 0.8s;
}

.social-network a {
  background-color: #F9F9F9;
}


@media only screen and (max-width: 600px) {
  #padding2{
      margin-top: 100vh;
  }

  .IT_support_service{
      margin-left: 0;
      background-image:url('../images/card4.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size:50%;
      height: 100%;
  }

  #about-btn{
      padding-left: 0px;
      padding-right: 0;
      margin-left: 33vw;
      padding: 4px;
  }

  .home_h1{
      font-size: 2.5em;
      padding-left:5%;
      margin-left: 0%;
      margin-top: 130px;
  }

  .home_h2{
      padding-left:5%;
      font-size: 2.2em;
  }

  .home_p1{
      margin-top: 10px;
      font-size:14px;
      color:#000000;
      margin-left:5%;
      font-weight: bolder;
  }
  
  .home_p2{
      font-size:14px;
      color:#000000;
      margin-left:5%;
      font-weight: bolder;
  }

  .development_service{
      background-image:url('../images/card.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size:50%;
      height: 40vh;
  }
  
  .graphics_service{
      background-image:url('../images/card2.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size:50%;
      height: 100%;
  }
  
  .digital_service{
      background-image:url('../images/card3.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size:50%;
      height: 100%;
  }
  
  .page-footer{
      max-width: 100%;
      margin: 0;
      padding-top: 0;
      height: 420px;
      background-color: #3f3f3f;
      color: #d5d5d5;
      padding-top: 2rem;
  }
  
  
  
}
