#navbar{
	padding: .8rem;
}

#sticky{
	position: fixed;
    top: 0;
    width: 100%;
}

#li{
	padding-right: 20px;
}
#nav-link{
    font-size: 1.1em !important;
    color: #219bd9;
    font-weight: bold;
}

#navbarResponsive{
    margin-right: 30px;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #f36b21;
    transition: width .3s;
}

.nav-link:hover::after{
    width: 100%;
    transition: width .3s;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #f36b21;
    transition: width .3s;
}

.nav-link:hover::after{
    width: 100%;
    transition: width .3s;
}
.logo{
    background-image: url('../images/logo.svg');
    background-size: cover;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    height: 13vh;
    width: 18vw;
}

/* home page css part */
.home_container{
    background-image: url('../images/graphics landing page.svg');
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh
}

.main-content{
    height:160vh;
    margin-top:0%;
}

/* footer */

.page-footer{
    background-image: url('../images/foot.svg');
    max-width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.footer-second-part{
    background-color: #b5b6b8
}

#bottom-nav-link {
    font-size: .9em !important;
    text-decoration: none;
    display: inline-block;
    color:#219bd9;
    font-weight: bold;
}

#bottom-nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #f36b21;
    transition: width .3s;
}

#bottom-nav-link:hover::after{
    width: 100%;
    transition: width .3s;
}

#light{
	border-top: 1px solid #d5d5d5;
	width: 75%;
	margin-top: .8rem;
    margin-bottom: 1rem;
    margin-left: 20px;
    color: #f36b21;
}

#footer{
	background-color: #22adad;
	color: #d5d5d5;
	padding-top: 2rem;
}

#light-100{
	border-top: 1px solid #d5d5d5;
	width: 100%;
	/* margin-top: .9rem; */
	margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
       
    
}