#navbar{
	padding: .8rem;
}

#sticky{
	position: fixed;
    top: 0;
    width: 100%;
}

#li{
	padding-right: 20px;
}
#nav-link{
	font-size: 1.1em !important
}

#navbarResponsive{
    margin-right: 30px;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #219bd9;
    transition: width .3s;
}

.nav-link:hover::after{
    width: 100%;
    transition: width .3s;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #219bd9;
    transition: width .3s;
}

.nav-link:hover::after{
    width: 100%;
    transition: width .3s;
}

.img{
    position: relative;
    widows: 100%;
    height:50vh;
    background-image: url('../images/woodtype.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}