#navbar{
    padding: .8rem;
}

#sticky{
	position: fixed;
    top: 0;
    width: 100%;
}

#li{
	padding-right: 20px;
}
#nav-link{
	font-size: 1.1em !important
}

#navbarResponsive{
    margin-right: 30px;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #219bd9;
    transition: width .3s;
}

.nav-link:hover::after{
    width: 100%;
    transition: width .3s;
}

.nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #219bd9;
    transition: width .3s;
}

.nav-link:hover::after{
    width: 100%;
    transition: width .3s;
}

/* home page css part */
.home_container{
    background-image: url('../images/home1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh
}

.home_h2{
    padding-top:25%;
    padding-left:38%;
    font-weight: bolder;
}

.home_h1{
    padding-top:0px;
    padding-left:10%;
    margin-left: 20%;
    font-size:70px;
}

.line{
    width:12%;
    height:1px;
    background-color:white;
}

.home_p1{
    font-size:20px;
    color:#000000;
    margin-left:25%;
    font-weight: bolder;
}

.home_p2{
    font-size:20px;
    color:#000000;
    margin-left:30%;
    font-weight: bolder;
}

.home_btn{
    margin-left:580px;
    margin-top:0;
}

/* service area css */
#padding1{
	padding-bottom: 0;
}

#welcome{
	width: 75%;
	margin: 0 auto;
	padding-top: 2rem;
}

#hr1{
	border-top: 2px solid #219bd9;
	width: 15%;
	margin-top: .3rem;
	margin-bottom: 1rem;
}

.services{
    margin-top:2%
}

.first_services_row{
    height:35vh;
    margin-top: 5%;
}

.development_service{
    background-image:url('../images/card.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:50%;
    height: 40vh;
}

.graphics_service{
    background-image:url('../images/card2.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:50%;
    height: 100%;
}

.digital_service{
    background-image:url('../images/card3.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:50%;
    height: 100%;
}

.IT_support_service{
    margin-left: 33%;
    height:50vh;
    background-image:url('../images/card4.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size:50%;
    height: 100%;
}

.service_text{
    margin-top: 10vh;
}

.service_text .service_a{
    text-decoration: none;
    font-size:28px;
    color: #219bd9;
}

.service_text .service_a:hover{
    text-decoration: none;
    font-size:38px;
    color: #219bd9;
}
/* About */
#about-btn{
    height:50px;
    width: 100px;
    position: relative;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: transparent;
    outline: none;
    border: none;
    color: #219bd9;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serifl
}

#about-btn:before{
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 3px solid transparent;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
}

#about-btn:after{
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border: 3px solid transparent;
    top: 0;
    right: 0;
    box-sizing: border-box;
}
.service-card-hover{
    background-image: url('../images/card2.svg');
    height: 300px;
    background-repeat: no-repeat;
}
#about-btn:hover:before{
    height:50px;
    width: 100px;
    border: 3px solid #219bd9;
    border-right: none;
    border-bottom: none;
    transition: height 0.5s linear,
                width 0.5s linear 0.5s; 
}

#about-btn:hover:after{
    height:50px;
    width: 100px;
    border: 3px solid #219bd9;
    border-left: none;
    border-top: none;
    transition: height 0.5s linear,
                width 0.5s linear 0.5s; 
}

/* contact_us */
/* contact form  */

.contact-form{
    background: white;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 100%;
    box-shadow: 5px 10px 18px #888888;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
}
.contact-image img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
    box-shadow: 5px 10px 18px #888888;
}
.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: 0%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #219bd9;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}

/* footer */

#bottom-nav-link {
    font-size: .9em !important;
    text-decoration: none;
    display: inline-block;
    color:white;
}

#bottom-nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #219bd9;
    transition: width .3s;
}

#bottom-nav-link:hover::after{
    width: 100%;
    transition: width .3s;
}

#light{
	border-top: 1px solid #d5d5d5;
	width: 75%;
	margin-top: .8rem;
    margin-bottom: 1rem;
    margin-left: 20px;
    color: #10caca;
}

#footer{
	background-color: #242929;
	color: #d5d5d5;
	padding-top: 2rem;
}

#light-100{
	border-top: 1px solid #d5d5d5;
	width: 100%;
	/* margin-top: .9rem; */
	margin-bottom: 1rem;
}
